{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Articles website </title>
        {% endif %}
    </head>
    <body>
                <!-- Article Top Headlines  -->
                <h3> All Technology Articles </h3>
                <ul>
                   {% for tech_articles in technology %}
                       <li>{{ tech_articles.title}}</li>
                   {% endfor %}
               </ul>
    </body>
</html>